.main-alert.ng-leave, .main-alert.ng-enter {
  transition: all 0.2s;
}
.main-alert.ng-leave.ng-leave-active {
  transform: translateY(-100px);
  opacity: 0;
}
.main-alert.ng-enter{
  transform: translateY(-100px);
  opacity: 0;
}
.main-alert.ng-enter.ng-enter-active {
  transform: translateY(0px);
  opacity: 1
}