@-webkit-keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-o-keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-moz-keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}
@-o-keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}
@-moz-keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}
@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

login.ng-enter{
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
}

login.ng-leave{
  -webkit-animation: fadeOut 0.2s linear;
  animation: fadeOut 0.2s linear;
}

.login-form-content.ng-enter{
  -webkit-transform: translateX(calc(100% + 30px));
  -ms-transform: translateX(calc(100% + 30px));
  transform: translateX(calc(100% + 30px));
  transition: all 0.2s
}

.login-form-content.ng-enter.ng-enter-active{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.register-form-content.ng-enter{
  -webkit-transform: translateX(calc(-100% - 30px));
  -ms-transform: translateX(calc(-100% - 30px));
  transform: translateX(calc(-100% - 30px));
  transition: all 0.2s
}

.register-form-content.ng-enter.ng-enter-active{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

