<% ac = ActionController::Base.new() %>
<% html = ac.render_to_string(:template => 'friendships/show.html.haml', :layout => false, :handlers => [:haml])  %>

@app.directive 'movies', ()->
  {
    restrict: 'E',
    template: "<%= html %>",
    controller: ($scope, Auth, User, $http)->
      User.set_filter("friends").query().$promise.then((data)->
        $scope.friends = data
      )
      
      $scope.destroy_friendship = (user)->
        $http.delete('/friendships/'+user.id).then((data)->
          index = $scope.friends.indexOf(user);
          $scope.friends.splice(index, 1);  
        )
  }