<% ac = ActionController::Base.new() %>
<% html = ac.render_to_string(:partial => 'layouts/navigation/top_menu.html.haml', :layout => false, :handlers => [:haml])  %>

@app.directive 'topNav', ()->
  {
    restrict: 'E',
    template: "<%= html %>",
    controller: ($scope,Auth)->
      $scope.current_user = Auth.current_user()
  }