%h1 Listing movies

%table
  %thead
    %tr
      %th Title
      %th Link
      %th Watched
      %th
      %th
      %th

  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.link
        %td= movie.watched
        %td= link_to 'Show', movie
        %td= link_to 'Edit', edit_movie_path(movie)
        %td= link_to 'Destroy', movie, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Movie', new_movie_path
