%h3 Register New Account
%form{ng:{submit: "register()"}, name: "registrationForm"}
  %input{type: "email", name: "email", ng: {model: "$parent.data.user.email"}, class: "form-control", :placeholder => "Email", required: true}
  %div{class: "invalid-message", ng: {show: "registrationForm.email.$error.required && registrationForm.email.$dirty"}} Email field is required
  %div{class: "invalid-message", ng: {show: "registrationForm.email.$error.email && registrationForm.email.$dirty"}} Email field is invalid
  %input{type: "text", name: "username", ng: {model: "$parent.data.user.username"}, class: "form-control", :placeholder => "Username", required: true}
  %div{class: "invalid-message", ng: {show: "registrationForm.username.$error.required && registrationForm.username.$dirty"}} Username field is required
  %input{type: "password", name: "password", ng: {model: "$parent.data.user.password", minlength: "6"}, class: "form-control", :placeholder => "Pasword", required: true}
  %div{class: "invalid-message", ng: {show: "registrationForm.password.$error.minlength && registrationForm.password.$dirty"}} Password field is too short
  %div{class: "invalid-message", ng: {show: "registrationForm.password.$error.required && registrationForm.password.$dirty"}} Password field is required
  %input{type: "password", name: "password_confirmation", ng: {model: "$parent.data.user.password_confirmation",minlength: "6"}, class: "form-control", :placeholder => "Confirm password", required: true}  
  %div{class: "invalid-message", ng: {show: "registrationForm.password_confirmation.$error.required && registrationForm.password_confirmation.$dirty"}} Password Confirmation field is required
  %div{class: "invalid-message", ng: {show: "registrationForm.password_confirmation.$error.minlength && registrationForm.password.$dirty"}} Password Confirmation field is too short
  %input.login.loginmodal-submit{:name => "login", :type => "submit", :value => "Sign up", ng: {disabled: "registrationForm.$invalid"}}/
.login-help
  %a{href: "",ng:{click: "goTo('login')"}}Sign in