%h3 Login to Your Account
%form{name: "loginForm", ng:{submit: "login()"}}
  %input{type: "email", required: true , name: "email", ng: {model: "$parent.data.user.email"}, class: "form-control", :placeholder => "Email"}
  %div{ng: {show: "loginForm.email.$dirty && loginForm.email.$error.required"}, class:"invalid-message"} Email field is required
  %div{ng: {show: "loginForm.email.$dirty && loginForm.email.$error.email"}, class:"invalid-message"} Email field should be a valid email addresss
  %input{type: "password", required: true, name: "password", ng: {model: "$parent.data.user.password"}, class: "form-control", :placeholder => "Pasword", autocomplete: "new-password"}
  %div{ng:{show:"loginForm.password.$dirty && loginForm.password.$error.required"}, class:"invalid-message"} Password field is required
  %input.login.loginmodal-submit{:name => "login", :type => "submit", :value => "Login", ng: {disabled: "loginForm.$invalid"} }/
.login-help
  %a{href: "",ng:{click: "goTo('register')"}}Sign up