.row{ ng: { controller: "UsersController as usersctrl" } }
  %table.table.table-striped
    %thead.thead-inverse
      %tr
        %th Username
        %th Email
        %th Actions
    %tbody{ ng: { if: "users" }, class: "user-list" }
      %tr{ ng: {repeat: "user in users", if: "user.id != current_user.id && !user.added"} }
        %td {{user.username}}
        %td {{user.email}}
        %td 
          %a{ href: "",  ng:{  click: "usersctrl.add_to_friends(user)" } } Add to friend