#login-modal.modal.fade.in{"aria-hidden" => "false", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: block;", :tabindex => "-1"}
  .modal-backdrop.fade.in
  #modal-login.modal-dialog
    .loginmodal-container
      %h1 Credential needed
      %div{ng: {if: "form_error | isNotEmpty", repeat: "(key, value) in form_error"}, class:"invalid-message center"} {{value}}
      %br/
      .login-form-content{ng:{if: "mode=='login'"}}
        =render partial: "sign_in_form"
      .register-form-content{ng:{if: "mode=='register'"}}
        =render partial: "sign_up_form"
        