%ul{ng: {if: "friends"}, class: "user-list"}
  %li{ng: {repeat: "(k,user) in friends", if: "user"}}
    {{user.username}}
    %a{href: "", ng: {click: "destroy_friendship(user)"}, class: "remove-from-user"} Remove from friends
.empty{ng: {if: "friends.length == 0"}}
  There are no friends