.panel.panel-default.devise-bs{ng: {controller: "SessionsController as SessionsCtrl"} }
  .panel-heading
    %h4= t('.sign_in', :default => "Sign in")
  .panel-body
    %form{ng:{submit: "SessionsCtrl.login()"}}
      %input{name: "authenticity_token", ng: {model: "data.authenticity_token"}, value: "#{form_authenticity_token}", type: "hidden",ng: {init: "data.authenticity_token='#{form_authenticity_token}'"}}
      .form-group
        %label Email
        %input{type: "text", name: "user[email]", ng: {model: "data.user.email"}, class: "form-control"}
      .form-group
        %label Password
        %input{type: "password", name: "user[password]", ng: {model: "data.user.password"}, class: "form-control"}
      %button{type: "submit", class: "btn btn-primary"} Sign in