.user-list{
  padding: 0;
}
.user-list li{
  list-style: none;
  border: solid 1px;
  padding: 10px;
  background: black;
  color: white;
  margin-bottom:1px;
}
.user-list li a{
  color:white;
  font-weight:bold;
}
.user-list .remove-from-user{
  float:right;
}