.navbar.navbar-default.navbar-static-top
  .container
    %a{href: "#/", class: "navbar-brand"} Home
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-right.col-md-6{ng: {if: "current_user | isNotEmpty"}}
        %li.dropdown.col-md-4.pull-right
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "", :role => "button"}
            %i.fa.fa-user &nbsp;
            {{current_user.username}}
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "#/users/{{current_user.id}}"} View my account
            %li
              %a{href: "#/users/"} Add friend
            %li
              %a{href: "/users/sign_out", data: {method:"delete"}} Logout
