.navbar.navbar-default.navbar-static-top
  .container
    =link_to "Home", root_path, class: "navbar-brand"
    .navbar-collapse.collapse.navbar-responsive-collapse
      -if current_user      
        %ul.nav.navbar-right.col-md-6
          %li.dropdown.col-md-4.pull-right
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-user &nbsp;
              =current_user.username
              %span.caret
            %ul.dropdown-menu
              %li=link_to "Edit my account", edit_registration_path(current_user)
              %li
                %a{href: "#/users"} Add user
              %li= link_to "Friends", users_path
              %li= link_to 'logout', destroy_user_session_path, method: :delete
